<%= form_with(model: category_filter, local: true) do |form| %>
  <% if category_filter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category_filter.errors.count, "error") %> prohibited this category_filter from being saved:</h2>

      <ul>
      <% category_filter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
