<p id="notice"><%= notice %></p>

<h1>Category Filters</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_filters.each do |category_filter| %>
      <tr>
        <td><%= category_filter.name %></td>
        <td><%= category_filter.type %></td>
        <td>
          <% if category_filter.type.to_s == 'CategoryFilters::DictionaryFilter' %>
            <%= link_to 'Edit dictionary values', category_filter_dictionary_filter_values_path(category_filter) %>
          <% end %>
        </td>
        <td><%= link_to 'Show', category_filter %></td>
        <td><%= link_to 'Edit', edit_category_filter_path(category_filter) %></td>
        <td><%= link_to 'Destroy', category_filter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category Filter', new_category_filter_path %>
